*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f9f9e9;
}

.conteinerHead{
    display:flex;
    justify-content:space-between;
    background-color: rgb(76, 76, 76);
    color: #fff;
    text-align: center;
    border-bottom: 5px solid rgb(112, 113, 113);
}

h1{
    font-size: 7vh;
    font-family: 'Covered By Your Grace', cursiva;
}

.conteinerUser{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9.8vh;
    width: 12vh;
    background-color: rgb(70, 68, 68);
    color: #fff;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9.8vh;
    width: 12vh;
    background-color: rgb(37, 37, 37);
    color: #fff;
}

.conteinerTabela{
    padding-top: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab{
    background-color: rgb(165, 164, 164);
    border: 1px solid rgb(232, 228, 228);
    border-radius: 7px;    
    padding-bottom: 20px;
    width: 130vh;
    height: 30vh;
}

table{
    padding: 2vh;
}

.input{ 
    padding: 2vh;
    background-color:rgb(165, 164, 164) ;
    border: none;

}

.input::placeholder{
    text-align: center;
}

input{
    outline: 0;
    text-align: center;
}

.conteinerInput{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoCriarUsuario{
    margin-top: 16vh;
    background-color: rgb(116, 115, 115);
    color: #fff;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    transition: all ease 0.9s;
    width: 20vh;
    height: 6vh;
}

button:hover{
    background-color: rgb(68, 68, 68);
}

.conteinerBotao{
    display: flex;
    justify-content: center;
}